In [8]:
import pandas as pd
import pickle
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("data.csv")
data

         postcode   house_type  house_surface  nb_room  garden_area   value
0               1       Maison           97.0        5       2410.0  185000
1               1       Maison           88.0        4        866.0  204332
2               1       Maison          168.0        5       1426.0  320000
3               1  Appartement           71.0        3          0.0  176000
4               1       Maison           96.0        3          0.0  226700
...           ...          ...            ...      ...          ...     ...
1099735        75  Appartement           15.0        1          0.0  230000
1099736        75  Appartement           26.0        1          0.0  400000
1099737        75  Appartement           25.0        1          0.0  400000
1099738        75  Appartement           30.0        2          0.0  383000
1099739        75  Appartement           37.0        2          0.0  260000

[1099740 rows x 6 columns]

In [3]:
# Suppression de la variable postcode
data = data.drop("postcode", axis=1)

In [4]:
# Transformation des données. Cette fonction sera appliqué à chaque ligne 
# de votre dataframe
def transform_house_type(house_type: str) -> int:
    return 0 if house_type == "Appartement" else 1

print(data["house_type"].apply(transform_house_type))

0          1
1          1
2          1
3          0
4          1
          ..
1099735    0
1099736    0
1099737    0
1099738    0
1099739    0
Name: house_type, Length: 1099740, dtype: int64

In [5]:
# Mise à jour de la variable data
data["house_type"] = data["house_type"].apply(transform_house_type)

In [6]:
# Création des jeux d'entrainement
X, y = data.drop("value", axis=1), data.loc[:, "value"]

In [9]:
# Création et entrainement du modèle linéaire
model = LinearRegression().fit(X, y)

In [11]:
# Sérialisation du modèle en pickle: création du model.pkl
with open("model.pkl", "wb") as pickle_file:
    pickle.dump(model, pickle_file)

In [12]:
# Si vous avez correctement fait votre travail, cette cellule devrait fonctionner

loaded_model = pickle.load(open("model.pkl", 'rb'))
loaded_model.predict(pd.Series([1, 100, 5, 100]).values.reshape(1, -1))

array([854185.62046927])